# Path to cross compilation toolchain (inside container)
PATH_TO_TOOCHAIN_BIN_DIR="/chr/toolchains/gcc4.9/bin"

# Path to chromium sources (inside container)
PATH_TO_CHROMIUM_SRC_DIR="/chr/chromium/src"

# Path to target sysroot (inside container)
PATH_TO_SYSROOT_DIR="/chr/sysroots/tavolga-sysroot"

# Tag/branch/hash to buld chromium from
CHROMIUM_REVISION="56.0.2924.122"
